# --- IGNORE THESE (So Rust becomes #1) ---

# Java
*.java linguist-vendored

# C# (This is why you are seeing C# now)
*.cs linguist-vendored
*.csproj linguist-vendored

# C++
*.cpp linguist-vendored
*.hpp linguist-vendored
*.h linguist-vendored

# Python
*.py linguist-vendored

# Go (Golang)
*.go linguist-vendored

# TypeScript / JavaScript
*.ts linguist-vendored
*.tsx linguist-vendored
*.js linguist-vendored

# --- FORCE RUST ---
*.rs linguist-detectable